<h1>DashBoard of <%= currentUser.user.username %></h1>

<img src="" alt="User Avatar">

<h2>JOBS APPLIED LIST:</h2>
<% if(!user.jobsApplied) { %>
  <p>Number of Jobs: 0</p>
<% } else { %>
  <p>Number of Jobs: <%= user.jobsApplied.length %>		</p>
  <ol>
    <% user.jobsApplied.forEach((job) => { %>
      <div class="job-listing">
        <li>
          <%= job.title %>
        </li>
      </div>
    <%  }) %>
  </ol>
  <% } %>

<form action="/userProfile">
	<button type="submit" class="btn btn-primary btn-block">User Profile</button>
</form>
<form action="/search">
	<button type="submit" class="btn btn-primary btn-block">Search</button>
</form>
<form action="/logout">
	<button type="submit" class="btn btn-primary btn-block">Logout</button>
</form>

<pre><code>
	<%= user.jobsApplied %>
</code></pre>
