<section class="landing-pic">
  <header class="landing-header">
    <h1 class="landing-text">Tired of looking for a job? Don't worry, we'll do that for you</h1>

  <div class="login-fields">
    <form action="/" method="POST" id="form">
      
        <input type="text" name="username" placeholder="Username" required>
    
        <input type="password" name="password" placeholder="Password" required>
      
        <% if (typeof errorMessage !== "undefined") { %>
          <div class="error-message"><%= message %></div>
        <% } %>
      
        <button type="submit" class="btn btn-custom">Login</button>
    </form>
  </div>
        <!-- <form action="/auth/facebook">
          <button type="submit" class="fa fa-facebook"></button>
        </form>

        <form action="/auth/google">
          <button type="submit" class="fa fa-google"></button>
        </form> -->
  </header>
</section>
<section class="landing-bottom">


</section>