<form action="/" method="POST" id="form">
  <h2>Welcome to JoBot! (index)</h2>

  <label for="username">Username</label>
  <input type="text" name="username" placeholder="JoBot" required>

  <label for="password">Password</label>
  <input type="password" name="password" placeholder="findmeajob" required>

  <% if (typeof errorMessage !== "undefined") { %>
    <div class="error-message"><%= message %></div>
  <% } %>
  
  <button>Log in</button>

  <p class="account-message">
    Don't have an account? <a href="/signup">Sign up</a>
  </p>
  <div>
    <a href="/auth/facebook">Login With Facebook</a>
  </div>
  <div>
    <a href="/auth/google">Login with Google+</a>
  </div>
</form>
