<h1>SEARCH</h1>

<form action="/dashboard">
	<button type="submit" class="btn btn-primary btn-block">Dashboard</button>
</form>
<form action="/userProfile">
	<button type="submit" class="btn btn-primary btn-block">User Profile</button>
</form>
<form action="/logout">
	<button type="submit" class="btn btn-primary btn-block">Logout</button>
</form>

<pre><code>
	<%= user %>
</code></pre>