<h1>SEARCH</h1>
<div class="search">
  <div class="panel panel-default">
    <div class="panel-heading">Search Tool</div>
    <div class="panel-body">
      <form action="/search" method="post">
        <div class="form-group">
          <label>Search</label>
          <input type="userSearchQuery" name="userSearchQuery" class="form-control" id="searchBox" placeholder="Search for city, country, job title, etc...">
        </div>
        <button id="userSearchQuery" type="submit" class="btn btn-primary btn-block">START SEARCH</button>
      </form>
    </div>
  </div>
</div>

<form action="/dashboard">
	<button type="submit" class="btn btn-primary btn-block">Dashboard</button>
</form>
<form action="/userProfile">
	<button type="submit" class="btn btn-primary btn-block">User Profile</button>
</form>
<form action="/logout">
	<button type="submit" class="btn btn-primary btn-block">Logout</button>
</form>