<form action="/signup" method="POST" id="form">
  <h2>JoBot Sign Up views</h2>
  <label for="username">Username</label>
  <input type="text" name="username" placeholder="JoBot" required>

  <label for="password">Password</label>
  <input type="password" name="password" placeholder="findmeajob" required>

  <% if (typeof errorMessage !== "undefined") { %>
    <div class="error-message"><%= errorMessage %></div>
  <% } %>

  <button>SIGN UP</button>

  <div>
    <a href="/auth/facebook">Sign in with Facebook</a>
  </div>
  <div>
    <a href="/auth/google">Sign in with Google+</a>
  </div>
</form>

<p><a href="/">Home</a></p>
