<h2>User Profile</h2>

<img src="" alt="User Avatar">

<a href="userProfile/dashboard">Dashboard</a>
<a href="/search">Job Search!</a>
<a href="/logout">Log out</a>

<div class="visible">
  <button id="editUserInfoButton" value="Edit Profile Details">Add Profile Details</button>

  <div id="userEditForm" class="">
    <form action="/signup" method="POST" id="form2">
      <h3>Edit Profile Details:</h3>
      <p><label for="username">Username</label>
      <input type="text" name="username" placeholder="JoBot" required></p>

      <p><label for="password">Password</label>
      <input id="signupStrength" type="password" name="password" placeholder="findmeajob" required></p>

      <div class="username">
        <label for="firstName">firstName</label>
        <input type="text" name="firstName" placeholder="firstName">

        <label for="lastName">lastName</label>
        <input type="text" name="lastName" placeholder="lastName">
      </div>

      <p><label for="age">age</label>
      <input type="text" name="age" placeholder="age"></p>

      <label for="email">email</label>
      <input type="text" name="email" placeholder="email">

      <label for="phone_number">phone number</label>
      <input type="text" name="phone_number" placeholder="phone number">

      <p><label for="occupation">occupation</label>
      <input type="text" name="occupation" placeholder="occupation"></p>


      <div class="address">
        <h4>Address</h4>
        <label for="street">street</label>
        <input type="text" name="street" placeholder="street">

        <label for="number">number</label>
        <input type="text" name="number" placeholder="number">

        <p><label for="city">city</label>
        <input type="text" name="city" placeholder="city"></p>

        <p><label for="country">country</label>
        <input type="text" name="country" placeholder="country"></p>

        <p><label for="zip_code">zip code</label>
        <input type="text" name="zip_code" placeholder="zip code"></p>
      </div>
</div>
<p><a href="userProfile/dashboard">Dashboard</a></p>
<p><a href="/search">Job Search!</a></p>
<p><a href="/logout">Log out</a></p>

<pre><code>
	<%= user %>
</code></pre>
