<h1>Welcome <%= user.firstName %></h1>
<h2>User Profile</h2>

<img src="" alt="User Avatar">

<p><a href="userProfile/dashboard">Dashboard</a></p>
<p><a href="/search">Job Search!</a></p>
<p><a href="/logout">Log out</a></p>

<pre><code>
	<%= user %>
</code></pre>
